.belowMap {
  padding: 10px;
  display: flex;
}

.liveHistoryButton {
  flex: 1;
  margin: 5px;
}
.btn {
  width: 100px;
}

.Status {
  flex: 8;
  padding: 10px;
  text-align: center;
  background-color: #ffcdd2;
}

.btnContainer {
  display: flex;
  margin: 10px;
  padding: 5px;
}

.gatewayBtns {
  flex: 1;
}

th {
  background-color: #00838F;
  color: #FFFFFF;
}

.alpha {
  display: flex;
}

.dataView {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: 1px solid #0288D1;
  box-shadow: #555 1px 1px 8px 1px;
}

.lineOne {
  padding: 5px;
  display: flex;
  background-color: #0288D1;
  color: #FFFFFF;
}

.lineTwo {
  padding: 2px;
  display: flex;
}

.srcList {
  flex: 1
}

.destList {
  flex: 1;
}

#beaconList {
  flex: 1;
}

#index {
  flex: 1;
  border: 1px solid #0288D1;
}

#index2 {
  flex: 2;
  border: 1px solid #0288D1;
}

#deviceID {
  flex: 4;
}

#beaconsCount {
  flex: 1;
}

#battery {
  flex: 3;
}

#beaconList {
  flex: 1;
}

.lineTwo2 {
  display: flex;
}

.One {
  flex: 1;
}

.Two {
  flex: 1;
}

table, td, tr, th {
  border: 1px solid #00838F;
}

.checkbox-inline {
  padding: 5px;
  margin: 4px;
  margin-left: 15px;
}

#local {
  margin: 5px;
  width: 25%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  line-height: 3;
  background-size: 30px;
  background-image: url('https://image.flaticon.com/icons/png/128/254/254032.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


/*select:focus {
  width: 45%;
}*/

option {
  padding: 5px;
}

agm-map {
  height: 100%;
}

.mapintosh {
  height: 500px;
  border: 3px solid #00838F;
  margin-bottom: 5px;
}
